header{ 
    background-color: white; 
    color: black;
}
.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}
